<h1>Editing note</h1>

<%= form_for([:project, @note]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <p><%= f.submit %></p>
<% end %>