<h1>Listing prototypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Image</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prototypes.each do |prototype| %>
  <tr>
    <td><%= prototype.name %></td>
    <td><%= prototype.project_id %></td>
    <td><%= prototype.image %></td>
    <td><%= prototype.detail %></td>
    <td><%= link_to 'Show', prototype %></td>
    <td><%= link_to 'Edit', edit_prototype_path(prototype) %></td>
    <td><%= link_to 'Destroy', prototype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prototype', new_prototype_path %>
