<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @prototype.name %>
</p>

<p>
  <b>Project:</b>
  <%= @prototype.project_id %>
</p>

<p>
  <b>Image:</b>
  <%= @prototype.image %>
</p>

<p>
  <b>Detail:</b>
  <%= @prototype.detail %>
</p>


<%= link_to 'Edit', edit_prototype_path(@prototype) %> |
<%= link_to 'Back', prototypes_path %>
