<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </div>

  <%= f.fields_for :notes do |builder| %>
<p>
  <%= builder.label :name, "Note" %><br />
  <%= builder.text_field :name, :rows => 3 %><br />
  <%= builder.check_box :_destroy %>
  <%= builder.label :_destroy, "Remove Question" %>
</p>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
