
<div class="user-nav-bar">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</div>

 <%= link_to "", projects_path, :class => 'logo' %>

 <div class="main-wrapper">

<div class="project-intro-header"><p>Poyi's Design Projects</p></div>

<div class="project-list">
  <% @projects.each do |project| %>
    <div class="project-item-name">
      <%= link_to project.name, project %>
    </div>
      <div class="project-item-detail">
        <p><%= project.detail %></p>
      </div>
      <% if user_signed_in? && current_user %>
        <%= best_in_place project, :publish, :type => :checkbox, :collection => ["Draft", "Publish"] %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  <% end %>
</div> <!-- project list end div -->


</div> <!-- main wrapper div end -->

<% if user_signed_in? && current_user %>
  <%= link_to 'New Project', new_project_path, :class => 'add-project-link' %>
<% end %>

<a class="poyichen-link" href="http://www.poyichen.com"><img src="/assets/profile-image.png" /></a>