


  <%= link_to "", projects_path, :class => 'logo' %>



<div class="main-wrapper">

<div class="project-header">
  <%= best_in_place @project, :name, {:inner_class => "input-project-header", :type => :input} %>
</div>
<div class="project-detail">
  <p><%= best_in_place @project, :detail %></p>
</div>


<div class="edit-link">
  <%= link_to 'Edit', edit_project_path(@project) %>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix notes-content-wrapper">

<% for notes in @project.notes %>
<div class="note-box">
  <div class="note-name">
  <%= best_in_place notes, :name, :path => project_note_path(@project, notes) %>
  </div>
    <% if notes.image_url.blank? %>
<% else %>
<div class="note-image">
      <%= link_to image_tag(notes.image_url(:thumb).to_s), notes.image_url %>
  </div>
<% end %>
  <div class="note-edit-link">
  	<%= link_to 'Edit', edit_project_note_path(@project, notes) %>
  	<%= link_to 'Destroy', project_note_path(@project, notes),
              :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div> <!--note box end -->
<% end %>
</div> <!-- notes content wrapper end -->

</div> <!-- main wrapper end -->

<div class="add-note-area">

<%= form_for([@project, @project.notes.build], :html => {:multipart => true}) do |f| %>
    <div class="add-note-text-field">
    <%= f.text_area :name, :size => "57x2", placeholder: "Add new note here" %>
    </div>
  
  <div class="add-note-img-field"><%= f.file_field :image %></div>
  
  <div class="add-note-button-bk"><%= f.submit '"Add Note" Click or Press enter', :class => 'note-submit-btn'%></div>
<% end %>

</div>

<script>
$( document ).ready(function() {
var $container = $('#masonry-container');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});


});
</script>
