<div class="logo"><%= link_to "back", projects_path %></div>

<div class="main-wrapper">

<div class="project-header">
  <%= @project.name %>
</div>
<div class="project-detail">
  <p><%= @project.detail %></p>
</div>


<div class="edit-link">
  <%= link_to 'Edit', edit_project_path(@project) %>
</div>

<div class="back-link">
  <%= link_to 'Back', projects_path %>
</div>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix notes-content-wrapper">

<% for notes in @project.notes %>
<div class="note-box">
  <div class="note-name">
  <%=h notes.name %>
  </div>
    <% if notes.image_url.blank? %>
<% else %>
<div class="note-image">
      <%= link_to image_tag(notes.image_url(:thumb).to_s), notes.image_url %>
  </div>
<% end %>
  <div class="note-edit-link">
  	<%= link_to 'Edit', edit_project_note_path(@project, notes) %>
  	<%= link_to 'Destroy', project_note_path(@project, notes),
              :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div> <!--note box end -->
<% end %>
</div> <!-- notes content wrapper end -->

</div> <!-- main wrapper end -->

<div class="add-note-area">

<%= form_for([@project, @project.notes.build], :html => {:multipart => true}) do |f| %>
  <div class="add-note-field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="add-note-field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div><%= f.file_field :image %></div>
  
  <p><%= f.submit %></p>
<% end %>

</div>

<script>
var $container = $('#masonry-container');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.note-box'
  });
});

</script>

